<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeworm.barkapp">

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBQLxbjEwpeWSGHw3MdmzW405x_ZPQOdMY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ScanActivity" />
        <activity android:name=".ParkingDetailsActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".ParkingLogActivity" />
        <activity android:name=".PhoneNumberVerificationActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".ForgotPasswordPageTwoActivity" />
        <activity android:name=".ForgotPasswordPageThreeActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".LoadingActivity" />
        <activity android:name=".ChangeUsernameActivity" />
        <activity
            android:name=".ParkingListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ChangeMobileNumberActivity" />
        <activity android:name=".ChangeMobileNumberVerificationActivity" />
        <activity android:name=".ChangeFullnameActivity"></activity>
    </application>

</manifest>